// {
//   "extends": [
//     "eslint-config-airbnb-base",

//   ],
//   "plugins": [

//   ],
//   "env": {
//     "browser": true
//   },
//   "rules": {

//   },
//   "parser": "babel-eslint",
//   "settings": {
//     "import/resolver": {
//       "webpack": {
//         "config": {
//           "resolve": {
//             "modules": [
//               "frontend",
//               "node_modules"
//             ]
//           }
//         }
//       }
//     }
//   }
// }
