<div class="vision">
  <h2>Our Vision</h2>
  <p>After an unfulfilling career at the bank, I decided to quit my job and revisit my passion since high school. After meeting
  up with a few designers at popular trade shows, I decided Camosun Fine Furniture was the right place to pursue my passion
  in woodworking. Instantly drawn by the satisfaction of creating beautiful functional art, there was no turning back. Over
  the years of woodworking, the satisfaction of furniture making has become a necessity.</p>
</div>
