.text-section {
  color: black;
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  .section-title {
    text-transform: uppercase;
  }
  h2::after {
    position: relative;
    bottom: -6px;
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: black;
  }
}
