<div class="header">
  <div class="header--logo">
    <img class="header-image" src="https://lh5.googleusercontent.com/s8mAFaUqxMbaBwkrVP4SC1zqn6yd5sA4zTYxRoOuXbAmU-HkEPO5nzLihTU=w2400">
  </div>
</div>
