<!DOCTYPE html>
<html>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato');
  </style>
  <head>
    <title>Outlierjoinery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
